{
  "plugins": [
  	"transform-custom-element-classes"
  ],
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", ">1% in AT"]
      },
      "debug": true
    }]
  ]
}