#tab_scrollshell {
	width: 100%;
	overflow-x: hidden;
	overflow-y: visible;
	display: none;
}

#tabhost {
	display: flex;
	transform: translateZ(0);
	transition: transform 0.25s ease-in-out;
	align-items: flex-start;
	overflow: visible;
}

#tabhost > div {
	flex: 1;
	overflow: visible;
}


button, button:active {
	background: transparent;
	border: none;
	outline: none;
}