#tab_scrollshell {
	width: 100%;
	overflow: hidden;
	display: none;
}

#tabhost {
	display: flex;
	transform: translateZ(0);
	transition: transform 0.25s ease-in-out;
	align-items: flex-start;
	min-height: calc(100vh - 104px);
	overflow: hidden;
}

#tabhost > div {
	flex: 1;
}


button, button:active {
	background: transparent;
	border: none;
	outline: none;
}