@media screen and (min-width: 800px) {
	#drawer {
		transform: none !important
	}
	#main {
		margin-left: 250px;
	}
	.drawerToggle {
		display: none;
	}
	#toogleDrawerLabel {
		display: none;
	}
}

#drawer {
	z-index: 10;
	position: fixed;
	top: 0px;
	background: #EAEAEA;
	height: 100%;
	width: 250px;
	transform: translateZ(0) translateX(-100%);

}

#navigation_header {
	height: 104px;
	width: 100%;
	background: #009688;
	display: block;
}

#navigation_title {
	height: 60px;
	font-size: 20px;
	color: #fff;
	display: inline-block;
	padding-left: 10px;
	padding-top: 5px;
}

#navigation_logo {
	padding: 5px 0 0 10px;
	height: 60px;
	width: 60px;
}

#navigation_firstrow {
	display: flex;
	height: 72px;
}

#navigation_links {
	height: calc(100% - 104px);
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	flex-direction: column;
	overflow-y: auto;
}

#navigation_links > a {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#navigation_links > .primary {
	line-height: 30px;
	padding: 10px;
	font-size: 21px;
}

#navigation_links > .secondary {
	padding: 0px 10px 5px;
	font-size: 15px;
	text-align: center;
}

#navigation_links > .seperator {
	flex-grow: 1;
	border-bottom: solid 1px rgba(0, 0, 0, .2);
	margin: 10px 6px 5px;
}