body {
	margin: 0;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
	background: #F9F9F9;
}


#splashheader {
	z-index: 9;
}

#toogleDrawerLabel {
	top: 0px;
	left: 0px;
	position: fixed;
	z-index: 3;
}

#toogleDrawerLabel svg {
	width: 28px;
	height: 50px;
	padding-left: 10px;
	fill: white;
}

#toggleDrawerShadow {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	margin: 0;
	display: none;
	z-index: 4;
	background: rgba(0,0,0,.7);
}

#toogleDrawerCheckbox {
	display: none;
}

#toogleDrawerCheckbox:checked ~ #toggleDrawerShadow {
	display: block;
}

#toogleDrawerCheckbox:checked ~ #drawer {
	transform: translateZ(0) translateX(0%);
}