section-info {
	display: block;
	text-align: center;
	padding: 50px 10px 0px;
	word-break: break-word;
}

section-info > .header {
	text-align: initial;
}

section-info a {
	color: #FFC107;
	font-style: italic;
}